.book-item {
  background-color: #F2F2F2;
}

.main-book-item {
  align-items: flex-start;
  padding-bottom: 35px;
  border-bottom: 1px solid #acb1b8;
  margin-bottom: 30px;
}

.pic {
  display: flex;
  justify-content: center;
}

.book-pic {
  height: 200px;
}

.info-book {
  padding-top: 15px;
}

.more-book-info-button {
  margin-top: 45px;
}

.book-info-button, .book-info-button:active, .book-info-button:hover, .book-info-button:focus {
  background-color: #747474 !important;
  border-color: #747474 !important;
  box-shadow: none !important;
  outline: none !important;
}

@media (max-width: 767px) {
  .more-book-info-button {
    margin-top: 30px;
  }
  .main-search-form {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .more-book-info-button {
    margin-top: 30px;
  }
}