.main-search-form {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #D9D9D9;
}

.whole-logo {
  padding-left: 85px;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.logo-text {
  font-weight: bold;
}